# IntelliJ IDEA
.idea/
*.iml

# Build output directories (geralmente out/ e build/)
out/
build/

# Evitar ignorar pasta out dentro de src/main ou src/test (se precisar preservar)
!**/src/main/**/out/
!**/src/test/**/out/

# Arquivos compilados Java/Kotlin
*.class
